	<tr>
	  <td><%= stack.description %></td>
	  <td><%= link_to 'Show', stack %></td>
	  <td><%= link_to 'Edit', edit_stack_path(stack) %></td>
	  <td><%= link_to 'Destroy', stack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
